<nav class="nav nav-pills nav-justified m-3">
    <a class="nav-link ms-5 me-5 text-white bg-danger" routerLink="aboutus" routerLinkActive="active"><i class="fas fa-stream"></i><b>  Know_us</b></a>
    <a class="nav-link ms-5 me-5 text-white bg-danger" routerLink="register" routerLinkActive="active"><i class="fas fa-check"></i> <b>  Register</b></a>
    <a class="nav-link ms-5 me-5 text-white bg-danger" routerLink="login" routerLinkActive="active"><i class="far fa-hand-point-right"></i><b>  Login</b></a>
   </nav>
   <div class="container">
    <router-outlet></router-outlet>
   </div>


